In [1]:
import pandas as pd
import numpy as np

In [2]:
test_df=pd.read_csv('test.csv')
test_df

  Type  Actual  Predicted
0    A       4          3
1    A      10         18
2    A      13         11
3    B       3         10
4    B       4          2
5    B       8         33
6    C      20         17
7    C      40         33
8    C      87         80
9    C      32         30

### List comprehension

In [3]:
types = list(test_df['Type'].unique())
types

['A', 'B', 'C']

In [4]:
[np.sqrt(np.mean((test_df.loc[test_df.Type == t, 'Actual'] - test_df.loc[test_df.Type == t, 'Predicted']) ** 2)) for t in types]

[4.795831523312719, 15.033296378372908, 5.267826876426369]

__N.B. the parentheses where incorrect in the older version__

In [5]:
[np.sqrt(np.mean(test_df.loc[test_df.Type == t, 'Actual'] - test_df.loc[test_df.Type == t, 'Predicted']) ** 2) for t in types]

[1.6666666666666667, 10.0, 4.75]

### SO answer method

https://stackoverflow.com/a/47914634/1034648

In [6]:
from sklearn.metrics import r2_score, mean_squared_error

def r2_rmse( g ):
    r2 = r2_score( g['Actual'], g['Predicted'] )
    rmse = np.sqrt( mean_squared_error( g['Actual'], g['Predicted'] ) )
    return pd.Series( dict(  r2 = r2, rmse = rmse ) )

In [7]:
test_df.groupby('Type').apply( r2_rmse ).reset_index()

  Type         r2       rmse
0    A  -0.642857   4.795832
1    B -47.428571  15.033296
2    C   0.957023   5.267827

### My method after reading Pandas for everyone

In [8]:
def rmse(d):
    x = d.Actual
    y = d.Predicted
    return pd.Series(dict(RMSE=np.sqrt(np.mean((x-y)**2))))

In [9]:
test_df.groupby('Type').apply(rmse).reset_index()

  Type       RMSE
0    A   4.795832
1    B  15.033296
2    C   5.267827